* {
  font-family: 'Varela Round', sans-serif;
}

.landing {
  height: auto;
  width: 100%;
  top: 0px;
  margin-bottom: 15px;
}

.taco {
  background-image: url('../assets/taco-of-the-day.png');
  width: 700px;
  height: 400px;
  border: 3px solid azure;
}

.welcome {
  width: auto;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 265px;
  left: 50%;
  margin: 0px;
  padding: 10px;
  font-size: 60px;
  font-style: italic;
  color: #fc4445;
  background-color: #ffffffa5;
}

.favorite {
  cursor: pointer;
  z-index: 1;
  margin: 5px;
  background-color: #ffffffa3;
}

.homepage-view {
  background-color: #cafafe;
  /* padding: 50px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taco-name {
  color: black;
  text-align: center;
  margin-bottom: 4px;
}

.fav-info {
  color: black;
  text-align: center;
  margin-top: 4px;
  font-style: italic;

}

.recipe-button {
  text-align: center;
  display: block;
  height: 80px;
  width: 90px;
  border-style: none;
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 255, 0.2);
  cursor: pointer;
  background-color: #fd8383;
  margin: 20px;
}

.recipe-button:hover {
  background-color: #fc4445;
}

.remove-link {
  text-decoration: none;
}