.main {
  background-color: #ffb48f;
}

.reviews-title {
  margin: 0px;
  padding: 20px;
  text-align: center;
  font-size: 50px;
  color: #0c578e;
  padding: 30px;
}

.reviews-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.form-container {
  padding: 50px;
}

.review-title {
  margin: 0px;
  padding: 20px;
  text-align: center;
  font-size: 40px;
  color: #0c578e;
  padding-bottom: 2px;
}