.main {
  background: radial-gradient(
    circle, rgb(4 212 246 / 25%) 0%, rgb(9 148 180) 96% );
}

.reviews-title {
  margin: 0px;
  padding: 20px;
  text-align: center;
}

.reviews-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.form-container {
  padding: 50px;
}

.review-title {
  text-align: center;
}