.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 30px;
}

button {
  display: block;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.about-us  {
  text-decoration: none;
}
 .reviews {
  text-decoration: none;
}
.home {
  text-decoration: none;
}